.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/manuscript_data_curation_Breedbase.Rmd
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/Spectra
data/C*
data/Trial*
data/raw*
data/*html
data/*txt
output/*png
output/*csv
Hershberger*
